div.header{
	font-family: courier new ; 
	font-size: 10px; 
	background-color: lavender; 
	text-align: center;
	border: 2px solid;
	border-radius: 5px;
	border-color: #e6e6fa ;
	background-color: #e6e6fa;
	padding: 0.1px;
}


div.top{
	background-image: url("background top.PNG");
	border-radius: 5px;
}

img.akimtop{
	width: 190px;
	height: 325px;
	border: 2px solid #ffbb99;
}
h1.port{
	padding:2px;
	margin:0;
	font-family: cursive; 
	background-color: dimgrey; 
	color: burlywood;
}
ul.table{
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.table{
	float: center;
}

li a.table{
	display: block;
	text-align: center;
	padding: 14px 50px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
a:link {
	color: #ffcc99;
}

a:visited {
	color: #6699ff;
}

a:hover {
	color: #ff9966;
}

a:active {
	color: #ff80ff;
}

img.akim{
	float : left; 
    width: 190px;
    height: 325px; 
    border: 2px inset grey;
    margin: 30px;
}
img.akimright{
	float : right; 
	width: 215px;
	height: 325px; 
	border: 2px inset grey;
    margin: 30px;
}

img.akimmiddle{
	width: 700px; 
	height: 270px;
	border: 2px inset grey;
}

#parag {
	font-family: Garamond, serif;
	font-size: 18.5px;
}

#maindiv{
	background-color: #ffd699;
	border-radius: 5px;
	padding: 20px;
}

footer{
	text-decoration: underline;
}

img.akimbatu{
	border: 5px solid grey;
	margin: 5px;
	padding: 5px;
}

table.contact{
	border-color: firebrick;
	text-align: center;
}

h2.top{
	font-family: cambria;
	border: 2px solid;
	border-radius: 5px;
	border-color: #6699ff ;
	background-color: #6699ff;
}

img.kolejakim{
	border: 5px solid grey;
	margin: 5px;
	padding: 5px;
}

#table{
	border: 10px solid grey;
	font-family: Garamond, serif;
}
